/** Estilos sobreescritos */
.g-cartografia-flecha-izquierda {
  color: #00796b !important;
}
/* .g-cartografia-flecha-derecha {
  color: #536DFE !important;
} */
.m-control.activated > button {
  color: #6c6c6c !important;
}

/** Estilos propios*/

.m-areas > div.m-area > div.m-panel.opened > button.m-panel-btn {
  font-size: 15px;
  background-color: #536dfe !important;
  color: #ffffff !important;
}

.m-areas
  > div.m-area
  > div.m-panel.m-geocoderpelias.collapsed
  > button.m-panel-btn {
  color: #536dfe !important;
  font-weight: bolder !important;
}

.m-areas > div.m-area > div.m-panel.m-geocoderpelias.collapsed {
  height: 40px !important;
}

.m-areas > div.m-area > div.m-panel.m-geocoderpelias.opened {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width: 40vw !important;
  margin-right: 0px !important;
}

.m-areas
  > div.m-area
  > div.m-panel
  > div.m-panel-controls
  > div.m-control.m-container.m-geocoderpelias {
  width: calc(40vw - 40px) !important;
}

#m-geocoderpelias-search {
  -webkit-display: flex;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  background-color: white;
  width: 100% !important;
}

div.m-geocoderpelias > input.m-input-search {
  width: 100%;
  margin: 0px;
  padding: 10px;
  border: 0px;
}

#m-geocoderpelias-search-input {
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  cursor: auto;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #6c6c6c;
  font-family: Muli, "sans-serif" !important;
  font-size: 13px;
  width: calc(40vw - 140px) !important;
}

.m-geocoderpelias-result-panel {
  background-color: #F9F9F9;
  z-index: 1000;
  position: absolute !important;
  width: 99%;
}

div.m-geocoderpelias-result-panel>div.results {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 5px;
  max-height: 75vh;
}

div.m-geocoderpelias-result-panel>div.results>div.result.autocomplete {
  padding: 7px;
  border: 1px solid #EBF1EB;
  cursor: pointer;
}

div.m-geocoderpelias-result-panel>div.results>div.result.autocomplete:hover {
  background-color: #eee;
}

.result-icon{
  padding: 5px !important;

}
