<div id="m-geocoderpelias-container" class="m-control m-container m-geocoderpelias">
  <div id="m-geocoderpelias-search">
    <input type="text" id="m-geocoderpelias-search-input" placeholder="Buscar"
      class="m-input-search m-plugin-autocomplete m-geocoderpelias-input-text">
    <button type="button" id="m-geocoderpelias-clear-btn" class="g-cartografia-cancelar m-clear-btn"
      title="Limpiar búsqueda"></button>
    <button type="button" id="m-geocoderpelias-search-btn" class="g-cartografia-zoom m-search-btn"
      title="Buscar"></button>
  </div>
  <div id="m-geocoderpelias-response" class="m-geocoderpelias-result-panel">
  </div>
</div>